x-winebot-env: &winebot_env
  WINEPREFIX: /wineprefix
  DISPLAY: :99
  SCREEN: 1920x1080x24
  APP_EXE: ${APP_EXE:-}
  APP_ARGS: ${APP_ARGS:-}
  WORKDIR: ${WORKDIR:-}
  APP_NAME: ${APP_NAME:-}
  INIT_PREFIX: ${INIT_PREFIX:-1}
  WINEARCH: ${WINEARCH:-win64}
  RUN_AUTOMATION: ${RUN_AUTOMATION:-0}
  AUTOMATION_CMD: ${AUTOMATION_CMD:-}
  API_TOKEN: ${API_TOKEN:-}
  ENABLE_WINEDBG: ${ENABLE_WINEDBG:-0}
  ENABLE_API: ${ENABLE_API:-1}
  WINEDBG_MODE: ${WINEDBG_MODE:-}
  WINEDBG_PORT: ${WINEDBG_PORT:-}
  WINEDBG_NO_START: ${WINEDBG_NO_START:-}
  WINEDBG_COMMAND: ${WINEDBG_COMMAND:-}
  WINEDBG_SCRIPT: ${WINEDBG_SCRIPT:-}
  ENABLE_VNC: ${ENABLE_VNC:-}
  VNC_PORT: ${VNC_PORT:-5900}
  NOVNC_PORT: ${NOVNC_PORT:-6080}
  NOVNC_HOST: ${NOVNC_HOST:-}
  NOVNC_TITLE: ${NOVNC_TITLE:-}
  VNC_PASSWORD: ${VNC_PASSWORD:-}
  VNC_BIND: ${VNC_BIND:-}

x-winebot-base: &winebot_base
  build:
    context: ..
    dockerfile: docker/Dockerfile
  image: winebot:latest
  volumes:
    - wineprefix:/wineprefix
    - ../apps:/apps
    - ../automation/assets:/automation/assets
    - ../artifacts:/artifacts

services:
  winebot:
    <<: *winebot_base
    profiles:
      - headless
    environment:
      <<: *winebot_env
      MODE: headless
    ports:
      - "8000:8000"

  winebot-interactive:
    <<: *winebot_base
    profiles:
      - interactive
    environment:
      <<: *winebot_env
      MODE: interactive
      ENABLE_VNC: "1"
      VNC_PASSWORD: ${VNC_PASSWORD:-winebot}
    ports:
      - "8000:8000"
      - "5900:5900"
      - "6080:6080"
      - "${WINEDBG_PORT:-2345}:${WINEDBG_PORT:-2345}"

volumes:
  wineprefix:
